Parcial_1/flows2.json
[
  {
    "id": "0ae921cb7ec6b395",
    "type": "tab",
    "label": "Flujo 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8dbeb1943fd7e376",
    "type": "inject",
    "z": "0ae921cb7ec6b395",
    "name": "simulador nodo 2 (cada 7s)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "7",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 270,
    "y": 100,
    "wires": [["c500131d490a64c1"]]
  },
  {
    "id": "c500131d490a64c1",
    "type": "function",
    "z": "0ae921cb7ec6b395",
    "name": "generar payload simulado",
    "func": "const now = new Date();\nconst ts = now.toISOString().slice(0, 19).replace(\"T\", \" \" );\n\nconst temperatura = 24 + (Math.random() * 8);\nlet gas = 2800 + Math.floor(Math.random() * 1200);\n\nif (temperatura > 29 || Math.random() > 0.82) {\n    gas = 3600 + Math.floor(Math.random() * 500);\n}\n\nmsg.payload = {\n    device_id: \"SIM-Cocina-02\",\n    zona: \"Cocina-Simulada-02\",\n    temperatura_C: Number(temperatura.toFixed(2)),\n    mq135_aire: gas,\n    timestamp: ts\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 100,
    "wires": [["4da35261e16d343b", "bf3cf38f2cce19d8"]]
  },
  {
    "id": "4da35261e16d343b",
    "type": "json",
    "z": "0ae921cb7ec6b395",
    "name": "json string simulador",
    "property": "payload",
    "action": "str",
    "pretty": false,
    "x": 750,
    "y": 100,
    "wires": [["1114deedfc54c238"]]
  },
  {
    "id": "1114deedfc54c238",
    "type": "mqtt out",
    "z": "0ae921cb7ec6b395",
    "name": "mqtt out simulador nodo 2",
    "topic": "alejandro.bravo_isa@uao.edu.co/alertas",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "fd407c03c80b70fc",
    "x": 990,
    "y": 100,
    "wires": []
  },
  {
    "id": "bf3cf38f2cce19d8",
    "type": "debug",
    "z": "0ae921cb7ec6b395",
    "name": "debug simulador nodo 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 770,
    "y": 60,
    "wires": []
  },
  {
    "id": "21e10653a865350a",
    "type": "mqtt in",
    "z": "0ae921cb7ec6b395",
    "name": "alertas",
    "topic": "alejandro.bravo_isa@uao.edu.co/alertas",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "fd407c03c80b70fc",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 270,
    "wires": [["22f87ea37093b68c"]]
  },
  {
    "id": "22f87ea37093b68c",
    "type": "json",
    "z": "0ae921cb7ec6b395",
    "name": "parse json alertas",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 350,
    "y": 270,
    "wires": [["2b22a9138112562a"]]
  },
  {
    "id": "2b22a9138112562a",
    "type": "function",
    "z": "0ae921cb7ec6b395",
    "name": "procesar estados (ESP32)",
    "func": "const UMBRAL_TEMP = 28.0;\nconst UMBRAL_GAS = 3600;\nconst INTERVALO_NORMAL_SEG = 6;\nconst INTERVALO_ALERTA_SEG = 3;\nconst INTERVALO_EMERGENCIA_SEG = 1;\nconst TOPICO_COMANDOS = \"alejandro.bravo_isa@uao.edu.co/comandos\";\n\nconst p = (typeof msg.payload === \"object\" && msg.payload !== null) ? msg.payload : {};\n\nfunction toNumber(v) {\n    if (v === null || v === undefined || v === \"\") return NaN;\n    const n = Number(v);\n    return Number.isFinite(n) ? n : NaN;\n}\n\nconst temperatura = toNumber(p.temperatura_C ?? p.temperatura ?? p.temp);\nconst gas = toNumber(p.mq135_aire ?? p.gas ?? p.mq135);\n\nlet estado = \"\";\nlet detalle = \"\";\nlet motivoActuadores = \"\";\nlet intervaloSeg = INTERVALO_NORMAL_SEG;\nlet acciones = {\n    led: \"VERDE\",\n    extractor: \"APAGADO\",\n    sirena: \"APAGADA\",\n    valvula_gas: \"ABIERTA\"\n};\n\nif (Number.isFinite(temperatura) && Number.isFinite(gas)) {\n    const temperaturaAlta = temperatura >= UMBRAL_TEMP;\n    const gasAlto = gas >= UMBRAL_GAS;\n\n    if (temperaturaAlta && gasAlto) {\n        estado = \"EMERGENCIA\";\n        intervaloSeg = INTERVALO_EMERGENCIA_SEG;\n        detalle = \"Temperatura y gas altos\";\n        motivoActuadores = \"Activacion por temperatura y gas altos\";\n        acciones = {\n            led: \"ROJO\",\n            extractor: \"ENCENDIDO\",\n            sirena: \"ENCENDIDA\",\n            valvula_gas: \"CERRADA\"\n        };\n    } else if (temperaturaAlta) {\n        estado = \"ALERTA\";\n        intervaloSeg = INTERVALO_ALERTA_SEG;\n        detalle = \"Temperatura alta\";\n        motivoActuadores = \"Activacion por temperatura fuera de rango\";\n        acciones = {\n            led: \"AMARILLO\",\n            extractor: \"ENCENDIDO\",\n            sirena: \"APAGADA\",\n            valvula_gas: \"ABIERTA\"\n        };\n    } else if (gasAlto) {\n        estado = \"ALERTA\";\n        intervaloSeg = INTERVALO_ALERTA_SEG;\n        detalle = \"Gas alto\";\n        motivoActuadores = \"Activacion por gas fuera de rango\";\n        acciones = {\n            led: \"AMARILLO\",\n            extractor: \"ENCENDIDO\",\n            sirena: \"APAGADA\",\n            valvula_gas: \"ABIERTA\"\n        };\n    } else {\n        estado = \"NORMAL\";\n        intervaloSeg = INTERVALO_NORMAL_SEG;\n        detalle = \"Valores dentro de rango\";\n        motivoActuadores = \"Sin activacion, condiciones normales\";\n        acciones = {\n            led: \"VERDE\",\n            extractor: \"APAGADO\",\n            sirena: \"APAGADA\",\n            valvula_gas: \"ABIERTA\"\n        };\n    }\n} else {\n    estado = String(p.estado_riesgo || \"INVALIDO\").toUpperCase();\n    detalle = \"No llegaron temperatura_C y mq135_aire; se conserva estado recibido\";\n    motivoActuadores = \"Datos incompletos\";\n}\n\nmsg.payload.temperatura_C = Number.isFinite(temperatura) ? temperatura : p.temperatura_C;\nmsg.payload.mq135_aire = Number.isFinite(gas) ? gas : p.mq135_aire;\nmsg.payload.estado_riesgo = estado;\nmsg.payload.tiempo_espera_seg = intervaloSeg;\nmsg.payload.detalle_estado = detalle;\nmsg.payload.motivo_actuadores = motivoActuadores;\nmsg.payload.actuadores = acciones;\n\nconst deviceIdHist = String(msg.payload.device_id || \"ALL\");\nconst histKey = `hist_estados_${deviceIdHist}`;\nconst historialPrevio = context.get(histKey) || [];\nconst historialRecortado = historialPrevio.slice(-3);\nconst historialFinal = [...historialRecortado, estado];\ncontext.set(histKey, historialFinal);\nmsg.payload.historial_reciente = historialFinal.join(\">\");\n\nif (estado === \"NORMAL\") {\n    node.status({ fill: \"green\", shape: \"dot\", text: `NORMAL | ${intervaloSeg}s` });\n} else if (estado === \"ALERTA\") {\n    node.status({ fill: \"yellow\", shape: \"dot\", text: `ALERTA | ${intervaloSeg}s` });\n} else if (estado === \"EMERGENCIA\") {\n    node.status({ fill: \"red\", shape: \"dot\", text: `EMERGENCIA | ${intervaloSeg}s` });\n} else {\n    node.status({ fill: \"grey\", shape: \"ring\", text: estado });\n}\n\nconst resumen = {\n    topic: msg.topic,\n    payload: {\n        device_id: msg.payload.device_id || \"N/A\",\n        estado: estado,\n        temperatura_C: msg.payload.temperatura_C,\n        mq135_aire: msg.payload.mq135_aire,\n        detalle: detalle,\n        motivo_actuadores: motivoActuadores,\n        actuadores: acciones,\n        intervalo_envio_seg: intervaloSeg,\n        timestamp: msg.payload.timestamp || null\n    }\n};\n\nconst deviceId = String(msg.payload.device_id || \"ALL\");\nconst estadoKey = `estado_prev_${deviceId}`;\nconst estadoPrev = context.get(estadoKey);\nlet comando = null;\n\nif ([\"NORMAL\", \"ALERTA\", \"EMERGENCIA\"].includes(estado) && estado !== estadoPrev) {\n    context.set(estadoKey, estado);\n    comando = {\n        topic: TOPICO_COMANDOS,\n        payload: JSON.stringify({\n            device_id: deviceId,\n            estado: estado,\n            intervalo_seg: intervaloSeg\n        }),\n        qos: \"1\",\n        retain: false\n    };\n}\n\nreturn [msg, resumen, comando];",
    "outputs": 3,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 270,
    "wires": [
      ["f763f562a6d47815"],
      ["3dede9491dd8b343"],
      ["ee9345be81ff4577", "a4fd53edb295f7f8"]
    ]
  },
  {
    "id": "f763f562a6d47815",
    "type": "function",
    "z": "0ae921cb7ec6b395",
    "name": "build SQL insert bruta",
    "func": "const p = msg.payload || {};\n\nconst temp = Number(p.temperatura_C);\nconst gas = Number(p.mq135_aire);\nif (!Number.isFinite(temp) || !Number.isFinite(gas)) {\n    return null;\n}\n\nconst deviceId = String(p.device_id || \"ESP32\");\nconst zona = String(p.zona || \"N/A\");\nconst estado = String(p.estado_riesgo || \"INVALIDO\").toUpperCase();\nconst detalle = String(p.detalle_estado || \"\");\nconst motivoActuadores = String(p.motivo_actuadores || \"Sin motivo\");\nconst historialReciente = String(p.historial_reciente || estado);\nconst espera = Number(p.tiempo_espera_seg);\nconst tiempoEspera = Number.isFinite(espera) ? Number(espera.toFixed(2)) : null;\nlet ts = String(p.timestamp || \"\");\n\nif (!ts) {\n    const now = new Date();\n    ts = now.toISOString().slice(0, 19).replace(\"T\", \" \" );\n}\n\nmsg.deviceId = deviceId;\nmsg.estadoRiesgo = estado;\nmsg.detalleEstado = detalle;\nmsg.tiempoEspera = tiempoEspera;\nmsg.motivoActuadores = motivoActuadores;\nmsg.historialReciente = historialReciente;\nmsg.actuadores = p.actuadores || {};\n\nmsg.topic = \"INSERT INTO mediciones_brutas (device_id, zona, temperatura_c, mq135_aire, timestamp_origen) VALUES (?, ?, ?, ?, ?)\";\nmsg.payload = [\n    deviceId,\n    zona,\n    Number(temp.toFixed(2)),\n    Math.round(gas),\n    ts\n];\nmsg.queryType = \"insert_bruta\";\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 760,
    "y": 440,
    "wires": [["dca3b24a91085534"]]
  },
  {
    "id": "f8ea723cc2bc635b",
    "type": "function",
    "z": "0ae921cb7ec6b395",
    "name": "build SQL insert estado",
    "func": "const medicionId = Number(msg.payload && msg.payload.insertId);\nif (!Number.isFinite(medicionId) || medicionId <= 0) {\n    return null;\n}\n\nmsg.medicionId = medicionId;\nmsg.topic = \"INSERT INTO estados_medicion (medicion_id, estado_riesgo, detalle_estado, tiempo_espera_seg) VALUES (?, ?, ?, ?)\";\nmsg.payload = [\n    medicionId,\n    String(msg.estadoRiesgo || \"INVALIDO\").toUpperCase(),\n    String(msg.detalleEstado || \"\"),\n    msg.tiempoEspera\n];\nmsg.queryType = \"insert_estado\";\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 770,
    "y": 480,
    "wires": [["dca3b24a91085534"]]
  },
  {
    "id": "240b2d8068f981ea",
    "type": "function",
    "z": "0ae921cb7ec6b395",
    "name": "build SQL insert actuadores",
    "func": "const medicionId = Number(msg.medicionId);\nif (!Number.isFinite(medicionId) || medicionId <= 0) {\n    return null;\n}\n\nconst a = msg.actuadores || {};\nconst estado = String(msg.estadoRiesgo || \"INVALIDO\").toUpperCase();\nconst historialReciente = String(msg.historialReciente || estado);\n\nmsg.topic = \"INSERT INTO eventos_actuadores (medicion_id, device_id, estado_riesgo, motivo_activacion, historial_reciente, led_estado, extractor_estado, sirena_estado, valvula_gas_estado) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)\";\nmsg.payload = [\n    medicionId,\n    String(msg.deviceId || \"ESP32\"),\n    estado,\n    String(msg.motivoActuadores || \"Sin motivo\"),\n    historialReciente,\n    String(a.led || \"N/A\"),\n    String(a.extractor || \"N/A\"),\n    String(a.sirena || \"N/A\"),\n    String(a.valvula_gas || \"N/A\")\n];\nmsg.queryType = \"insert_actuador\";\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 520,
    "wires": [["dca3b24a91085534"]]
  },
  {
    "id": "280c86b4c143abc4",
    "type": "inject",
    "z": "0ae921cb7ec6b395",
    "name": "SELECT ultimas 20",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "",
    "payloadType": "date",
    "x": 320,
    "y": 550,
    "wires": [["36d294dd3d7fc199"]]
  },
  {
    "id": "0761efe88fe2a347",
    "type": "inject",
    "z": "0ae921cb7ec6b395",
    "name": "SELECT EMERGENCIA",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "EMERGENCIA",
    "payloadType": "str",
    "x": 330,
    "y": 600,
    "wires": [["36d294dd3d7fc199"]]
  },
  {
    "id": "7f15449ad1f2682c",
    "type": "inject",
    "z": "0ae921cb7ec6b395",
    "name": "SELECT ALERTA",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "ALERTA",
    "payloadType": "str",
    "x": 320,
    "y": 650,
    "wires": [["36d294dd3d7fc199"]]
  },
  {
    "id": "431bf11ecee0cbf4",
    "type": "inject",
    "z": "0ae921cb7ec6b395",
    "name": "SELECT NORMAL",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "NORMAL",
    "payloadType": "str",
    "x": 320,
    "y": 700,
    "wires": [["36d294dd3d7fc199"]]
  },
  {
    "id": "bc7fb6bb733b6f28",
    "type": "inject",
    "z": "0ae921cb7ec6b395",
    "name": "RESUMEN ALERTAS",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "RESUMEN_ALERTAS",
    "payloadType": "str",
    "x": 340,
    "y": 760,
    "wires": [["36d294dd3d7fc199"]]
  },
  {
    "id": "edecdad222f9e09d",
    "type": "inject",
    "z": "0ae921cb7ec6b395",
    "name": "SELECT BRUTAS (ULTIMAS 20)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "BRUTAS_RECIENTES",
    "payloadType": "str",
    "x": 360,
    "y": 810,
    "wires": [["36d294dd3d7fc199"]]
  },
  {
    "id": "eb02b22c71c90b33",
    "type": "inject",
    "z": "0ae921cb7ec6b395",
    "name": "SELECT ACTUADORES (ULTIMOS 20)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "ACTUADORES_RECIENTES",
    "payloadType": "str",
    "x": 370,
    "y": 860,
    "wires": [["36d294dd3d7fc199"]]
  },
  {
    "id": "36d294dd3d7fc199",
    "type": "function",
    "z": "0ae921cb7ec6b395",
    "name": "build SQL select",
    "func": "const token = String(msg.payload || \"\").trim().toUpperCase();\nconst baseJoin = \"SELECT m.id, m.device_id, m.zona, m.temperatura_c, m.mq135_aire, e.estado_riesgo, e.detalle_estado, e.tiempo_espera_seg, m.timestamp_origen, m.created_at FROM mediciones_brutas m INNER JOIN estados_medicion e ON e.medicion_id = m.id\";\n\nif ([\"NORMAL\", \"ALERTA\", \"EMERGENCIA\"].includes(token)) {\n    msg.topic = `${baseJoin} WHERE e.estado_riesgo='${token}' ORDER BY m.id DESC LIMIT 20;`;\n} else if (token === \"RESUMEN_ALERTAS\") {\n    msg.topic = \"SELECT estado_riesgo, COUNT(*) AS total, MAX(created_at) AS ultima_medicion FROM estados_medicion WHERE estado_riesgo IN ('ALERTA','EMERGENCIA') GROUP BY estado_riesgo ORDER BY total DESC;\";\n} else if (token === \"BRUTAS_RECIENTES\") {\n    msg.topic = \"SELECT id, device_id, zona, temperatura_c, mq135_aire, timestamp_origen, created_at FROM mediciones_brutas ORDER BY id DESC LIMIT 20;\";\n} else if (token === \"ACTUADORES_RECIENTES\") {\n    msg.topic = \"SELECT id, medicion_id, device_id, estado_riesgo, motivo_activacion, historial_reciente, led_estado, extractor_estado, sirena_estado, valvula_gas_estado, created_at FROM eventos_actuadores ORDER BY id DESC LIMIT 20;\";\n} else {\n    msg.topic = `${baseJoin} ORDER BY m.id DESC LIMIT 20;`;\n}\n\nmsg.queryType = \"select\";\nmsg.payload = [];\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 620,
    "wires": [["dca3b24a91085534"]]
  },
  {
    "id": "3dede9491dd8b343",
    "type": "function",
    "z": "0ae921cb7ec6b395",
    "name": "bloques actuadores",
    "func": "const p = msg.payload || {};\nconst estado = p.estado || p.estado_riesgo || \"N/A\";\nconst a = p.actuadores || {};\n\nreturn [\n  { payload: `LED=${a.led || \"N/A\"} | estado=${estado}` },\n  { payload: `Extractor=${a.extractor || \"N/A\"} | estado=${estado}` },\n  { payload: `Sirena=${a.sirena || \"N/A\"} | estado=${estado}` },\n  { payload: `Valvula gas=${a.valvula_gas || \"N/A\"} | estado=${estado}` }\n];",
    "outputs": 4,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 860,
    "y": 250,
    "wires": [
      ["ee160f40ad607f19"],
      ["a10a30b41a4e1baf"],
      ["80f26410f1f71859"],
      ["9633e33d099a380e"]
    ]
  },
  {
    "id": "ee160f40ad607f19",
    "type": "debug",
    "z": "0ae921cb7ec6b395",
    "name": "actuador LED",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 1080,
    "y": 170,
    "wires": []
  },
  {
    "id": "a10a30b41a4e1baf",
    "type": "debug",
    "z": "0ae921cb7ec6b395",
    "name": "actuador extractor",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 1090,
    "y": 220,
    "wires": []
  },
  {
    "id": "80f26410f1f71859",
    "type": "debug",
    "z": "0ae921cb7ec6b395",
    "name": "actuador sirena",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 1080,
    "y": 270,
    "wires": []
  },
  {
    "id": "9633e33d099a380e",
    "type": "debug",
    "z": "0ae921cb7ec6b395",
    "name": "actuador valvula gas",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 1100,
    "y": 320,
    "wires": []
  },
  {
    "id": "dca3b24a91085534",
    "type": "mysql",
    "z": "0ae921cb7ec6b395",
    "mydb": "e573d97058b2f511",
    "name": "mysql query",
    "x": 800,
    "y": 620,
    "wires": [["fc80bb460f478219"]]
  },
  {
    "id": "fc80bb460f478219",
    "type": "switch",
    "z": "0ae921cb7ec6b395",
    "name": "tipo consulta",
    "property": "queryType",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "insert_bruta",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "insert_estado",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "insert_actuador",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "select",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 4,
    "x": 980,
    "y": 620,
    "wires": [
      ["f8ea723cc2bc635b"],
      ["240b2d8068f981ea"],
      ["f21fe10c8747b920"],
      ["a358d6afacf0c7a4"]
    ]
  },
  {
    "id": "a358d6afacf0c7a4",
    "type": "function",
    "z": "0ae921cb7ec6b395",
    "name": "formato select tabla",
    "func": "const rows = Array.isArray(msg.payload) ? msg.payload : [];\n\nif (rows.length === 0) {\n    msg.payload = \"Sin resultados\";\n    return msg;\n}\n\nconst safe = (v) => String(v ?? \"\");\nconst maxRows = 20;\nconst data = rows.slice(0, maxRows);\n\nconst preferred = [\n    \"id\",\n    \"medicion_id\",\n    \"device_id\",\n    \"zona\",\n    \"temperatura_c\",\n    \"mq135_aire\",\n    \"estado_riesgo\",\n    \"detalle_estado\",\n    \"tiempo_espera_seg\",\n    \"timestamp_origen\",\n    \"created_at\"\n];\n\nconst cols = Object.keys(data[0] || {}).sort((a, b) => {\n    const ia = preferred.indexOf(a);\n    const ib = preferred.indexOf(b);\n    const va = ia === -1 ? 999 : ia;\n    const vb = ib === -1 ? 999 : ib;\n    if (va !== vb) return va - vb;\n    return a.localeCompare(b);\n});\n\nif (cols.length === 0) {\n    msg.payload = \"Sin columnas para mostrar\";\n    return msg;\n}\n\nconst widths = cols.map((c) => c.length);\nfor (const r of data) {\n    cols.forEach((c, i) => {\n        const l = safe(r[c]).length;\n        if (l > widths[i]) widths[i] = Math.min(l, 32);\n    });\n}\n\nconst trunc = (s, w) => (s.length > w ? s.slice(0, w - 1) + \"...\" : s);\nconst pad = (s, w) => trunc(s, w).padEnd(w, \" \" );\n\nconst header = cols.map((c, i) => pad(c, widths[i])).join(\" | \" );\nconst sep = widths.map((w) => \"-\".repeat(w)).join(\"-+-\");\nconst body = data.map((r) => cols.map((c, i) => pad(safe(r[c]), widths[i])).join(\" | \" )).join(\"\\n\");\n\nmsg.payload = `Filas devueltas: ${rows.length}\\n\\n${header}\\n${sep}\\n${body}`;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1170,
    "y": 680,
    "wires": [["b8115394c5d54f94"]]
  },
  {
    "id": "f21fe10c8747b920",
    "type": "debug",
    "z": "0ae921cb7ec6b395",
    "name": "debug mysql insert",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload.affectedRows",
    "targetType": "msg",
    "statusVal": "payload.affectedRows",
    "statusType": "msg",
    "x": 1190,
    "y": 620,
    "wires": []
  },
  {
    "id": "b8115394c5d54f94",
    "type": "debug",
    "z": "0ae921cb7ec6b395",
    "name": "debug select tabla",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1370,
    "y": 680,
    "wires": []
  },
  {
    "id": "ee9345be81ff4577",
    "type": "mqtt out",
    "z": "0ae921cb7ec6b395",
    "name": "mqtt comandos",
    "topic": "",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "fd407c03c80b70fc",
    "x": 860,
    "y": 310,
    "wires": []
  },
  {
    "id": "a4fd53edb295f7f8",
    "type": "debug",
    "z": "0ae921cb7ec6b395",
    "name": "debug comando broker",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 850,
    "y": 360,
    "wires": []
  },
  {
    "id": "fd407c03c80b70fc",
    "type": "mqtt-broker",
    "name": "IOT",
    "broker": "maqiatto.com",
    "port": 1883,
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "e573d97058b2f511",
    "type": "MySQLdatabase",
    "name": "mysql-iot",
    "host": "mysql",
    "port": "3306",
    "db": "iot_db",
    "tz": "",
    "charset": "UTF8"
  }
]
