Parcial_1/flows.json
[
  {
    "id": "2f7b12fa84740d20",
    "type": "tab",
    "label": "Flujo 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "39f0c3491b3a6de5",
    "type": "mqtt in",
    "z": "2f7b12fa84740d20",
    "name": "alertas",
    "topic": "alejandro.bravo_isa@uao.edu.co/alertas",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "fd407c03c80b70fc",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 160,
    "wires": [["f949e6807008efc5"]]
  },
  {
    "id": "f949e6807008efc5",
    "type": "json",
    "z": "2f7b12fa84740d20",
    "name": "parse json alertas",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 350,
    "y": 160,
    "wires": [["41847bf0afa6e13c"]]
  },
  {
    "id": "41847bf0afa6e13c",
    "type": "function",
    "z": "2f7b12fa84740d20",
    "name": "procesar estados (ESP32)",
    "func": "const UMBRAL_TEMP = 28.0;\nconst UMBRAL_GAS = 3600;\nconst CICLOS_NORMAL = 100;\nconst CICLOS_ALERTA = 50;\nconst CICLOS_EMERGENCIA = 20;\n\nconst p = (typeof msg.payload === \"object\" && msg.payload !== null) ? msg.payload : {};\n\nfunction toNumber(v) {\n    if (v === null || v === undefined || v === \"\") return NaN;\n    const n = Number(v);\n    return Number.isFinite(n) ? n : NaN;\n}\n\nconst temperatura = toNumber(p.temperatura_C ?? p.temperatura ?? p.temp);\nconst gas = toNumber(p.mq135_aire ?? p.gas ?? p.mq135);\n\nlet estado = \"\";\nlet ciclos = 0;\nlet detalle = \"\";\n\nif (Number.isFinite(temperatura) && Number.isFinite(gas)) {\n    if (temperatura >= UMBRAL_TEMP && gas >= UMBRAL_GAS) {\n        estado = \"EMERGENCIA\";\n        ciclos = CICLOS_EMERGENCIA;\n        detalle = \"Temperatura y gas altos\";\n    } else if (temperatura >= UMBRAL_TEMP || gas >= UMBRAL_GAS) {\n        estado = \"ALERTA\";\n        ciclos = CICLOS_ALERTA;\n        detalle = \"Temperatura o gas alto\";\n    } else {\n        estado = \"NORMAL\";\n        ciclos = CICLOS_NORMAL;\n        detalle = \"Valores dentro de rango\";\n    }\n} else {\n    estado = String(p.estado_riesgo || \"INVALIDO\").toUpperCase();\n    detalle = \"No llegaron temperatura_C y mq135_aire; se conserva estado recibido\";\n}\n\nmsg.payload.temperatura_C = Number.isFinite(temperatura) ? temperatura : p.temperatura_C;\nmsg.payload.mq135_aire = Number.isFinite(gas) ? gas : p.mq135_aire;\nmsg.payload.estado_riesgo = estado;\nmsg.payload.procesado_nodered = true;\nmsg.payload.tiempo_espera_seg = ciclos > 0 ? ciclos * 0.1 : null;\nmsg.payload.detalle_estado = detalle;\n\nif (estado === \"NORMAL\") {\n    node.status({ fill: \"green\", shape: \"dot\", text: \"NORMAL\" });\n} else if (estado === \"ALERTA\") {\n    node.status({ fill: \"yellow\", shape: \"dot\", text: \"ALERTA\" });\n} else if (estado === \"EMERGENCIA\") {\n    node.status({ fill: \"red\", shape: \"dot\", text: \"EMERGENCIA\" });\n} else {\n    node.status({ fill: \"grey\", shape: \"ring\", text: estado });\n}\n\nconst resumen = {\n    topic: msg.topic,\n    payload: {\n        estado: estado,\n        temperatura_C: msg.payload.temperatura_C,\n        mq135_aire: msg.payload.mq135_aire,\n        detalle: detalle,\n        timestamp: msg.payload.timestamp || null\n    }\n};\n\nreturn [msg, resumen];",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 160,
    "wires": [["739ac79f66d7e67b"], ["77b4174901bd1c61"]]
  },
  {
    "id": "739ac79f66d7e67b",
    "type": "function",
    "z": "2f7b12fa84740d20",
    "name": "indicadores activos",
    "func": "const estado = String((msg.payload && msg.payload.estado_riesgo) || \"\").toUpperCase();\n\nfunction indicador(nombre) {\n    const activo = estado === nombre;\n    return {\n        payload: {\n            estado: nombre,\n            marca: activo ? \"ACTIVO\" : \"INACTIVO\",\n            actual: estado\n        }\n    };\n}\n\nreturn [\n    indicador(\"NORMAL\"),\n    indicador(\"ALERTA\"),\n    indicador(\"EMERGENCIA\")\n];",
    "outputs": 3,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 850,
    "y": 120,
    "wires": [["c59ec0a6e8b47350"], ["7932fd5102b94d6a"], ["5d7a0b88afa0c6ee"]]
  },
  {
    "id": "e4938c5085cae2c3",
    "type": "inject",
    "z": "2f7b12fa84740d20",
    "name": "INICIAR",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "alejandro.bravo_isa@uao.edu.co/comandos",
    "payload": "{\"msg\":\"INICIAR\"}",
    "payloadType": "json",
    "x": 340,
    "y": 240,
    "wires": [["1bad22a2d352e2bb"]]
  },
  {
    "id": "525ddc95dbac9c26",
    "type": "inject",
    "z": "2f7b12fa84740d20",
    "name": "PAUSA",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "alejandro.bravo_isa@uao.edu.co/comandos",
    "payload": "{\"msg\":\"PAUSA\"}",
    "payloadType": "json",
    "x": 340,
    "y": 280,
    "wires": [["1bad22a2d352e2bb"]]
  },
  {
    "id": "1bad22a2d352e2bb",
    "type": "mqtt out",
    "z": "2f7b12fa84740d20",
    "name": "comandos",
    "topic": "alejandro.bravo_isa@uao.edu.co/comandos",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "fd407c03c80b70fc",
    "x": 550,
    "y": 260,
    "wires": []
  },
  {
    "id": "77b4174901bd1c61",
    "type": "debug",
    "z": "2f7b12fa84740d20",
    "name": "debug estado procesado",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 890,
    "y": 240,
    "wires": []
  },
  {
    "id": "c59ec0a6e8b47350",
    "type": "debug",
    "z": "2f7b12fa84740d20",
    "name": "indicador NORMAL",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload.marca",
    "targetType": "msg",
    "statusVal": "payload.marca",
    "statusType": "msg",
    "x": 1070,
    "y": 60,
    "wires": []
  },
  {
    "id": "7932fd5102b94d6a",
    "type": "debug",
    "z": "2f7b12fa84740d20",
    "name": "indicador ALERTA",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload.marca",
    "targetType": "msg",
    "statusVal": "payload.marca",
    "statusType": "msg",
    "x": 1070,
    "y": 120,
    "wires": []
  },
  {
    "id": "5d7a0b88afa0c6ee",
    "type": "debug",
    "z": "2f7b12fa84740d20",
    "name": "indicador EMERGENCIA",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload.marca",
    "targetType": "msg",
    "statusVal": "payload.marca",
    "statusType": "msg",
    "x": 1090,
    "y": 180,
    "wires": []
  },
  {
    "id": "fd407c03c80b70fc",
    "type": "mqtt-broker",
    "name": "IOT",
    "broker": "maqiatto.com",
    "port": 1883,
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  }
]
